{% extends "base.html" %}

{% block title %}About Guild Wars 2 Price Check{% endblock %}
{% block metadesc %}Guild Wars 2 Price Check is a service providing real-time price estimates for items common in player-to-player trading.{% endblock %}
{% block metatags %}guild wars 2 price check,guild wars 2 economy,guild wars 2 trading{% endblock %}
{% block content_title %}About Guild Wars 2 Price Check{% endblock %}
{% block content %}
  <h2>What are these prices for?</h2>
  <p>While Guild Wars 2 has an in-game trading post, every transaction through the trading post has a 15% tax. This can seriously cut into your profits. To avoid this, players frequently use the mail system or guild banks to exchange items without paying those fees.</p>
  <p>Guild Wars 2 Price Check (gw2pc.com) is a service that uses the Guild Wars 2 trade API to provide price estimates for some of the items that are most frequently traded between players. Whether these are trades arranged on the <a href="https://discord.gg/gw2overflow">Overflow Trading Company Discord</a> or in-game, the information on this site will help you understand not only how much an item is typically bought or sold for, but also how we arrive at that number.</p>

  <h2>I found an error!</h2>
  <p>This service is developed and maintained by Cirdan on the Overflow Trading Company discord. You're welcome to DM me if you think there is an error in the pricing on this site. However, please first make sure that you understand our methodology, described on the <a href="/docs/">About Our Pricing</a> page and on the page for the specific item concerned.</p>
  <p>Prices do fluctuate, due to market conditions, in-game events, and player activity. Depending on the size of the fluctuation, this site may pick up on those temporary changes and show an unexpected price. That does not mean this site is wrong - after all, this site is just doing some very simple math using the trade API. However, if you find a price weird or surprising, you should definitely investigate further for yourself before using it in a trade: it may be a sign that that item is particularly volatile, but it could also be an opportunity that you can benefit from!</p>

  <h2>Disclaimers and Stuff</h2>
  <p>This service is not affiliated with or endorsed by the Overflow or ArenaNet.</p>
{% endblock %}
