{% extends "base.html" %}
{% load humanize %}
{% load gw2pc_tags %}

{% block title %}Guild Wars 2 Price Check{% endblock %}
{% block metadesc %}Guild Wars 2 Price Check is a service providing real-time price estimates for items common in player-to-player trading.{% endblock %}
{% block metatags %}guild wars 2 price check,guild wars 2 economy,guild wars 2 trading{% endblock %}
{% block content_title %}Guild Wars 2 Price Check{% endblock %}
{% block content %}
  <p>Welcome to GW2PC.com! Please use the links below to access our price checking resources on whichever item you are interested in.</p>
  <ul>
    <li><a href="/t3/">T3 Sets</a></li>
    <li><a href="/t4/">T4 Sets</a></li>
    <li><a href="/t5/">T5 Sets</a></li>
    <li><a href="/t6/">T6 Sets</a></li>
    <li><a href="/mc/">Mystic Coins</a></li>
    <li><a href="/ecto/">Globs of Ectoplasm</a></li>
    <li><a href="/matrix/">Stabilizing Matrices</a></li>
    <li><a href="/encryption/">Fractal Encryption</a></li>
    <li><a href="/ass/">Antique Summoning Stone</a></li>
    <li><a href="/ambergris/">Chunk of Ancient Ambergris</a></li>
    <li><a href="/jade/">Chunk of Pure Jade</a></li>
    <li><a href="/runestone/">Jade Runestone</a></li>
    <li><a href="/aurene-memory/">Memory of Aurene</a></li>
    <li><a href="/battle-memory/">Memory of Battle</a></li>
    <li><a href="/glory-shard/">Shard of Glory</a></li>
    <li><a href="/lamplighter-badge/">Lamplighter's Badge</a></li>
    <li><a href="/amalgamated-gemstone/">Amalgamated Gemstone</a></li>
    <li><a href="/precursor/">Precursor Weapons</a></li>
    <li><a href="/leg/">Legendary Weapons</a></li>
  </ul>
{% endblock %}
