<nav>
  <a class="mdc-button" href="/about/">
    <span class="mdc-button__ripple"></span>
    <i class="material-icons mdc-button__icon" aria-hidden="true">info</i>
    About GW2PC
  </a>
  <a class="mdc-button" href="/docs/">
    <span class="mdc-button__ripple"></span>
    <i class="material-icons mdc-button__icon" aria-hidden="true">help</i>
    Price Check Information
  </a>
  <a class="mdc-button" href="/">
    <span class="mdc-button__ripple"></span>
    <i class="material-icons mdc-button__icon" aria-hidden="true">home</i>
    Homepage
  </a>
  <a class="mdc-button" href="https://github.com/otc-cirdan/gw2pc/">
    <span class="mdc-button__ripple"></span>
    <i class="material-icons mdc-button__icon" aria-hidden="true">code</i>
    Source Code on GitHub
  </a>
</nav>
