{% extends "base.html" %}
{% load humanize %}
{% load gw2pc_tags %}

{% block title %}Price Check on a T6 Set{% endblock %}
{% block metadesc %}As of {{ time }}, a T6 set is worth about {{ table.data.90sell.250|format_gold_text }}{% endblock %}
{% block metatags %}price of a T6 set,value of a T6 set,guild wars 2{% endblock %}
{% block extra_meta %}
    <link rel="canonical" href="https://gw2pc.com/t6/" />
{% endblock %}
{% block content_title %}Price Check on a T6 set{% endblock %}
{% block content %}
    <p>Data valid as of {{ time }}</p>
    <div class="card-container single-result-card-container">
      <div class="mdc-card">
        <h2 class="card-header">A T6 set is worth about {{ table.data.90sell.250|format_gold }}</h2>
        <ul>
          <li>This is based on 90% of the sell price (lowest listing) at a depth of 250.</li>
          <li>Most items in Guild Wars 2 are traded for around 90% of the sell price.</li>
          <li>We use a depth of 250 to ignore small quantities of an item listed at an undercut, which can happen accidentally or when someone wants an item to sell quickly.</li>
          <li>See <a href="/docs/">our about prices page</a> for more information about item valuations.</li>
        </ul>
      </div>
    </div>
    <div class="card-container debug-card-container">
      <div class="mdc-card">
        <h2 class="card-header">T6 Material Sell Prices</h2>
        {% include 'includes/table.html' with table=item_table %}
      </div>
      <div class="mdc-card">
        <h2 class="card-header">T6 Set Pricing</h2>
        {% include 'includes/table.html' with table=table %}
        <ul>
          <li>A buyer would pay 100% Buy to place a buy order and wait for it to fill.</li>
          <li>A buyer would pay 100% Sell to instantly buy from the trading post.</li>
          <li>A seller would receive 85% Sell if they place a sell order and wait for it to fill.</li>
          <li>For player-to-player trading, 90% Sell is used as a middle ground.</li>
        </ul>
      </div>
    </div>
{% endblock %}
